.main-divider {
    display: flex;
    flex: 1;
    gap: 2vh;
}

aside {
    /*border-width: 0.5vh;*/
    /*border-style: solid;*/
    /*border-color: blue;*/

    padding-left: 3vh;
    display: flex;
    flex-direction: column;
    gap: 2vh;

    font-size: 1.2em;


    /*div {*/
    /*    border-width: 0.5vh;*/
    /*    border-style: solid;*/
    /*    border-color: aqua;*/
    /*}*/
}



.persons-search {
    z-index: 99;
    max-height: 30px;
    margin-bottom: 20px;
    overflow: visible;
    background: white;

    .persons-search-wrapper {
        position: relative;
        z-index: 99;
        border-style: solid;
        border-width: 0.2vh;
        border-radius: 20px;
        background: white;
    }

    input {
        height: 30px;
        width: 90%;
        padding: 10px 10px 10px 10px;
        border-style: none;
        /*border-radius: 200px;*/
        font-size: 1em;
    }

    .persons-search-results {
        position: relative;
        top: 100%;
        background: transparent;

        .persons-search-result-item {
            background: transparent;
            padding: 1vh;
        }
    }
}

.filters-title {
    display: flex;
    justify-content: space-between;

    /*button {*/
    /*    max-height: 1.8em;*/
    /*    font-size: 0.8em;*/
    /*}*/
}

.filters {
    min-width: max-content;
    td:first-child {
        padding-right: 15px;
    }
    input, select {
        /*border-width: 0.5vh;*/
        /*border-style: solid;*/
        /*border-color: aqua;*/
        /*font-size: 0.8em;*/
        width: 120px;
    }
}

.all-persons {
    /*border-width: 0.5vh;*/
    /*border-style: solid;*/
    /*border-color: green;*/

    .all-persons-sort:hover {
        cursor: pointer;
    }

    span.all-persons-sort-arrow {
        margin-left: 0.4em;
        cursor: pointer;
        user-select: none;
        font-size: 1.1em;
        position: relative;
        bottom: 1px;
    }

    flex: 1;

    table {
        width: 100%;

        thead {
            tr {
                th {
                    text-align: left;
                    font-size: 1.2em;
                }
            }
        }

        border-collapse: collapse;

        tbody {
            tr {
                td {
                    min-width: 20vh;

                    padding: 0.6vh 0 0.6vh 0;

                    border-style: solid;
                    border-width: 0 0 0.2vh 0;
                    border-color: darkgray;
                    border-radius: 200px;

                    font-size: 1.2em;

                    .not-available {
                        font-size: 0.8em;
                        color: dimgray;
                    }
                }
            }
        }
    }
}