input[type="checkbox"] {
    all: unset;
    appearance: none;
    -webkit-appearance: none;
    position: relative;
    border: 1px solid black;
    width: 20px;
    height: 20px;
    border-radius: 7px;
    cursor: pointer;
}

input[type="checkbox"]:after {
    content: "";
    position: absolute;
    left: 6px;
    top: 2px;
    width: 8px;
    height: 13px;
    border: 2px solid white;
    border-top: none;
    border-left: none;
    transform: rotate(45deg);
}

input[type="checkbox"]:not(:checked) {
    background: white;
}

input[type="checkbox"]:not(:checked):hover {
    background: lightgray;
}


input[type="checkbox"]:not(:checked)::after {
    border-color: transparent;
}

input[type="checkbox"]:not(:checked):hover::after {
    border-color: gray;
}



input[type="checkbox"]:checked  {
    background: black;
}

input[type="checkbox"]:checked:hover {
    background: black;
}


input[type="checkbox"]:checked::after {
    border-color: white;
}

input[type="checkbox"]:checked:hover::after {
    border-color: lightgray;
}



input[type="checkbox"]:focus-visible {
    outline: 3px solid Highlight;
}